body {
    margin : 0 ; 
    padding : 0; 
}

nav {
    z-index : 1 ;
}
#fond-1 { 
    position : absolute ; 
    top : 0 ; 
    left : 0 ; 
    width: 100%;
    height : 100vh ; 
    background-image: url("../img/fond-1.PNG");
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
    z-index : 100 ;
}
